@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .success {
        color: #155724;
        background-color: #D4EDDA;
    }

    .error {
        color: #721C24;
        background-color: #F8D7DA;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body,
#root {
    background-color: #efefef;
    height: 100%;
}